blockquote {
  color: #9a9a9a;
  position: relative;
  padding: .4em 0 0 2.2em;
  font-size: .96em;
  &:before {
    position: absolute;
    top: -4px;
    left: 0;
    content: "\201c";
    font: 700 62px/1 serif;
    color: rgba(0,0,0,.1);
  }
}


.next-mk-body dl {
  padding: 0;
}

.next-mk-body dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

.next-mk-body dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.next-mk-body table {
  display: block;
  overflow: auto;
  width: 100%;
}

.next-mk-body table th {
  font-weight: 600;
}

.next-mk-body table td,
.next-mk-body table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.next-mk-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.next-mk-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}