// header toc back_top menu read_more

// site-meta menu 在左边
.sidebar {
  width: 240px;
}

.header ul {
  display: block;
  padding: 0px;
  list-style-type: none;
}

.brand {
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
  position: relative;
  top: -10px;
  opacity: 0;
}

.sidebar-wrapper {
  color: #555;
  box-shadow: initial;
  border-radius: initial;
  padding: 20px 10px;
  box-sizing: border-box;
}

.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  height: auto;
  background-color: #FFF;
  border: 1px solid #eee;
}

.pisces {

}

.pisces .nav-item a {
  display: block;
  font-size: 13px;
  line-height: inherit;
  position: relative;
  box-sizing: border-box;
  line-height: inherit;
}

.pisces .nav-item a {
  border: none;
  padding: 5px 20px;
  text-align: left;
}

.pisces .header li {
  list-style-type: none;
  line-height: 32px;
}

.pisces .header {
  position: relative;
  margin: 0 auto;
  width: 960px;
}

.pisces .blog-header {
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 0;
  width: 240px;
  background: #fff;
  box-shadow: initial;
  border-radius: initial;
  z-index: 9999;
}

.pisces .site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Rosario', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.pisces .site-meta {
  position: relative;
  padding: 20px 0;
  color: #fff;
  background: #222;
  text-align: center;
}

.pisces .subtitle {
  position: relative;
  top: -10px;
  opacity: 0;
  margin: 10px 10px 0;
  font-weight: initial;
  margin-top: 10px;
  font-size: 13px;
  color: #ddd;
}

.pisces .nav-item-active a:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bbb;
  color: rgba(0, 0, 0, 0.98);
}

.pisces .section-layout-wrapper {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.pisces .sidebar {
  box-shadow: none;
  width: 240px;
  opacity: 0;
  transition: opacity .2s linear;
}

.pisces .sidebar-wrapper {
  background: #fff;
}

.pisces .site-author-image {
  max-width: 120px;
}

// header在中间，seta-meta在右侧隐藏
.muse {
  
}

.muse header{
  margin: 0 auto;
  padding: 100px 0 70px;
  width: 700px;
}

.muse .header {
  position: relative;
}

.muse .header ul {
  text-align: center;
}

.muse .header li {
  list-style-type: none;
  padding: 5px 10px;
  display: inline-block;
}

.muse .nav-item a {
  text-align: center;
  border-bottom: 1px solid transparent;
  display: block;
}

.nav-item a:hover {
  border-bottom: 1px solid #222;
}

.muse .nav-item i {
  display: block;
}

.muse .blog-header {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: initial;
  border-radius: initial;
  z-index: 9999;
  margin: 0 auto;
}

.muse .site-title {
  display: inline-block;
  vertical-align: top;
  font-weight: initial;
  font-size: 18px;
  font-family: 'Rosario', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.muse .subtitle {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
  top: -10px;
  opacity: 0;
}

.muse .site-meta {
  position: relative;
  color: #fff;
  background: transparent;
  text-align: center;
}

.muse .section-layout-wrapper {
  margin: 0 auto;
  position: relative;
  width: 700px;
}

.muse .sidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0;
  z-index: 1040;
  box-shadow: inset 0 2px 6px #000;
  background: #222;
  width: 0px;
  overflow: hidden;
}

.muse .sidebar-wrapper {
  width: 320px;
  text-align: center;
}

.muse .sidebar-title {
  width: 320px;
}

.muse .site-author-name {
  margin: 5px 0 0;
  text-align: center;
  color: #f5f5f5;
  font-weight: normal;
}

.muse .site-description {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #999;
  opacity: 0;
}

.muse .site-author-image {
  max-width: 96px;
  border: 2px solid #333;
  opacity: 0;
}

.muse .section-box {
  background-color: transparent;
  width: 320px;
}

.muse .section, .muse .posts-expand, .muse .post-header {
  padding: 0px;
}

.muse .fa-arrow-up {
  color: #fff;
}

.muse .sidebar-title-active{
  color: #87daff;
  border-bottom-color: #87daff;
}

.muse .active-current > a {
  color: #87daff;
  border-bottom-color: #87daff;
}

.muse .sidebar-box {
  background-color: transparent;
}

.muse .sidebar a:hover > span {
  color: #eee !important;
}

.muse .side-item-stat {
  display: block;
  text-align: center;
}

.muse .sidebar-item-box {
  display: inline-block;
  padding: 0 15px;
}

.muse .right-motion {
  opacity: 0;
}

.muse .sidebar-item-box + .sidebar-item-box {
  border-left: 1px solid #333;
}

.muse .sidebar-title-item:hover {
  color: #87daff;
}

.muse .post-button a {
  color: #fff;
  background: #222;
  border: 2px solid #222;
}

.muse .post-button a:hover {
  color: #222;
  background: #fff;
}

.muse.back-to-top {
  opacity: 1;
  padding: 6px 0;
  width: 24px;
  background: #222;
}

.muse-menu-box {
  position: fixed;
  right: 30px;
  bottom: 56px;
  width: 14px;
  height: 14px;
  padding: 5px;
  background: #222;
  line-height: 0;
  z-index: 1050;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}

.muse-menu-box > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  margin-bottom: 3px;
  background: #87daff;
  transition: all .3s linear;
}

.muse-menu-box:hover .muse-line:first-child {
  top: 2px;
  transform: rotateZ(-45deg);
  width: 50%;
  opacity: 1;
  left: 0px;
}

.muse-menu-box:hover middle {
  width: 90%;
  opacity: 1;
  left: 0px;
}

.muse-menu-box:hover .muse-line:last-child {
  top: -2px;
  transform: rotateZ(45deg);
  width: 50%;
  opacity: 1;
  left: 0px;
}

.sidebar-open .muse-line-first {
  top: 5px;
  transform: rotateZ(-45deg);
  width: 100%;
  opacity: 1;
  left: 0px;
}

.sidebar-open .muse-line-middle {
  opacity: 0;
  left: 0px;
}

.sidebar-open .muse-line-last {
  top: -5px;
  transform: rotateZ(45deg);
  width: 100%;
  opacity: 1;
  left: 0px;
}
.mist {

}