<div class="footer-box">
  <footer class="footer">
    <div class="copyright">
      © 2019-2020 <i class="fa fa-heart"></i> HsxyHao
    </div>
    <div class="poweredby">
      <div class="power-left">Power By<a href="https://github.com/hsxyhao"> HsxyHao</a></div>
      <div>Copy From<a href="https://github.com/iissnan/hexo-theme-next"> Hexo Next Theme</a></div>
    </div>
  </footer>
  <% let scheme = site.customConfig.scheme; %>
  <% if (scheme === 'muse') { %>
    <div class="muse-menu-box" id="muse_menu_box">
      <span class="muse-line muse-line-first"></span>
      <span class="muse-line muse-line-middle"></span>
      <span class="muse-line muse-line-last"></span>
    </div>
  <% } %>
  <div class="<%= scheme !==''?scheme:'pisces' %> back-to-top" id="back_to_top">
    <i class="fa fa-arrow-up"></i>
    <% if (scheme !== 'muse') { %>
    <span class="scrollpercent">
      <span id="back_to_top_text">0</span>%
    </span>
    <% } %>
  </div>
</div>

<script>

  let sideBarOpen = 'sidebar-open';
  let body = document.body;
  let back2Top = document.querySelector('#back_to_top'),
  back2TopText = document.querySelector('#back_to_top_text'),
  museMenuBox = document.querySelector('#muse_menu_box');

  function scrollAnimation(currentY, targetY) {
   
    let needScrollTop = targetY - currentY
    let _currentY = currentY
    setTimeout(() => {
      const dist = Math.ceil(needScrollTop / 10)
      _currentY += dist
      window.scrollTo(_currentY, currentY)
      if (needScrollTop > 10 || needScrollTop < -10) {
        scrollAnimation(_currentY, targetY)
      } else {
        window.scrollTo(_currentY, targetY)
      }
    }, 1)
  }

  back2Top.addEventListener("click", function(e) {
    scrollAnimation(body.scrollTop, 0);
    e.stopPropagation();
    return false;
  });
  
  window.addEventListener('scroll', function(e) {
    let percent = body.scrollTop / (body.scrollHeight - body.clientHeight) * 100;
    if (percent > 1 && !back2Top.classList.contains('back-top-active')) {
      back2Top.classList.add('back-top-active');
    }
    if (percent == 0) {
      back2Top.classList.remove('back-top-active');
    }
    if (back2TopText) {
      back2TopText.textContent = Math.floor(percent);
    }
  });

  // 动态调整站点概览高度
  if (back2Top.classList.contains('pisces')) {
    let sideBar = document.querySelector('.sidebar');
    let navUl = document.querySelector('#nav_ul');
    sideBar.style = 'margin-top:' + (navUl.children.length * 42 + 162) + 'px; opacity: 1;';
  }
  
  let open = false;
  if (museMenuBox) {
    museMenuBox.onclick = function() {
      if (open) {
        
      } else {

      }
      for (let i = 0; i < museMenuBox.children.length; i++) {
        museMenuBox.children[i].classList.toggle('muse-line');
      }
      museMenuBox.classList.toggle(sideBarOpen);
      open = !open;
    }
  }

  // 代码高亮
  hljs.initHighlightingOnLoad();
</script>