<div id="sidebarMeta" class="sidebar">
    <%- include('./site-meta') %>
</div>
<script>
  let sidebarMeta = document.querySelector('#sidebarMeta');
  let scheme = '<%= site.customConfig.scheme %>';
  let sidebarWrapper = document.querySelector('.sidebar-wrapper');
  if (sidebarMeta && (scheme === 'pisces' || scheme === 'gemini')) {
    document.addEventListener('scroll', function(e) {
      if (document.scrollingElement.scrollTop > parseInt(sidebarMeta.style.marginTop) + 10) {
        sidebarWrapper.classList.add('home-sidebar-fixed')
      } else {
        sidebarWrapper.classList.remove('home-sidebar-fixed')
      }
    });
  }
  </script>