<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="post-list-sidebar">
      <div class="sidebar-title">
        <span class="sidebar-title-item sidebar-title-active">文章目录</span>
        <span class="sidebar-title-item">站点概览</span>
      </div>
    </div>
    <div class="post-sidebar-body">
      <div class="post-toc">
        <%- toc %>
      </div>
      <div class="post-side-meta"></div>
    </div>
  </div>
</div>
<script></script>