<% let showToc = toc.length > 0;%>
<div class="sidebar">
  <div class="sidebar-wrapper" id="sidebar">
    <% if (showToc) { %>
      <div class="post-list-sidebar">
        <div class="sidebar-title">
          <span id="tocSideBar" class="sidebar-title-item sidebar-title-active">文章目录</span>
          <span id="metaSideBar" class="sidebar-title-item">站点概览</span>
        </div>
      </div>
    <% } %>
    <div class="post-sidebar-body">
      <% if (showToc) { %>
        <div class="post-toc" id="post_toc">
          <%- include('./toc', {toc: toc}) %>
        </div>
        <div class="post-side-meta" id="post_side_meta">
          <%- include('./site-meta') %>
        </div>
      <% } else {%>
        <%- include('./site-meta') %>
      <% } %>
    </div>
  </div>
</div>
<script>
  const SIDEBAR_TITLE_ACTIVE = 'sidebar-title-active';
  const SLIDE_UP_IN = 'slide-up-in';

  let sidebar = document.querySelector('#sidebar'),
  tocSideBar = document.querySelector('#tocSideBar'),
  metaSideBar = document.querySelector('#metaSideBar'),
  postToc = document.querySelector('#post_toc'),
  postSiteMeta = document.querySelector('#post_side_meta');

  tocSideBar.addEventListener('click', function() {
    metaSideBar.classList.remove(SIDEBAR_TITLE_ACTIVE);
    this.classList.add(SIDEBAR_TITLE_ACTIVE);
    postToc.classList.add(SLIDE_UP_IN);
    postToc.style = 'opacity: 1; transform: translateY(0px);';
  });

  postToc.addEventListener('transitionend', function() {
    this.classList.remove(SLIDE_UP_IN);
  });

  metaSideBar.addEventListener('click', function() {
    tocSideBar.classList.remove(SIDEBAR_TITLE_ACTIVE);
    this.classList.add(SIDEBAR_TITLE_ACTIVE);
    postSiteMeta.classList.add(SIDEBAR_BODY_ACTIVE);
    postToc.classList.remove(SIDEBAR_BODY_ACTIVE);
  });

  let limitTop = sidebar.offsetTop;
  let hasFix = false;
  window.addEventListener('scroll', function(e) {
    if (document.body.scrollTop >= limitTop) {
      if (!hasFix) {
        sidebar.classList.add('sidebar-fixed');
        hasFix = true;
      }
    } else {
      if (hasFix) {
        sidebar.classList.remove('sidebar-fixed');
        hasFix = false;
      }
    }
  });
</script>