<% let showToc = toc.length > 0;%>
<div class="sidebar">
  <div class="sidebar-wrapper" id="sidebar">
    <% if (showToc) { %>
      <div class="post-list-sidebar">
        <div class="sidebar-title">
          <span class="sidebar-title-item sidebar-title-active">文章目录</span>
          <span class="sidebar-title-item">站点概览</span>
        </div>
      </div>
    <% } %>
    <div class="post-sidebar-body">
      <% if (showToc) { %>
        <div class="post-toc">
          <%- include('./toc', {toc: toc}) %>
        </div>
        <div class="post-side-meta">
          <%- include('./site-meta') %>
        </div>
      <% } else {%>
        <%- include('./site-meta') %>
      <% } %>
    </div>
  </div>
</div>
<script>
  let sidebar = document.querySelector('#sidebar');
  let limitTop = sidebar.offsetTop;
  let hasFix = false;
  window.addEventListener('scroll', function(e) {
    if (document.body.scrollTop >= limitTop) {
      if (!hasFix) {
        sidebar.classList.add('sidebar-fixed');
        hasFix = true;
      }
    } else {
      if (hasFix) {
        sidebar.classList.remove('sidebar-fixed');
        hasFix = false;
      }
    }
  });
</script>