<div class="tag-timeline-box">
  <div class="tag-timeline-wrapper">
    <div class="tag-timeline-title">
      <h2>
        <%= tag.name %>
        <small>标签</small>
      </h2>
    </div>
    <% for(let i = 0; i < site.posts.length; i++) {%>
      <% for(let j = 0; j < site.posts[i].tags.length; j++) {%>
        <% if (tag.slug === site.posts[i].tags[j].slug) {%>
          <a href="<%= site.posts[i].link %>">
            <article class="tag-node">
              <h1>
                <%= site.posts[i].dateFormat.substring(5)%>
                <small><%= site.posts[i].title%></small>
              </h1>
            </article>  
          </a>
        <% }%>
      <% }%>
    <% }%>
  </div>
</div>