.pagination-ul {
  padding: 10px 0;
}

.box-shadow-wrapper {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
}

.tags-section {
  height: 100%;
}

.section {
  min-height: 700px;
  border-radius: initial;
  box-sizing: border-box;
}

.site-nav {
  padding: 20px 0;
  transition: all .3s linear;
}

.nav-item {
  opacity: 0;
}

.nav-toggle {
  position: absolute;
  left: 20px;
  top: 56px;
  -webkit-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.nav-toggle .line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: rgb(206, 204, 204);
  border-radius: 1px;
  transition: all .3s linear;
}

.nav-toggle:hover .line{
  background-color: #fff;
}

.nav-menu-active {
  display: block !important;
  margin: 20px 0 !important;
}

.nav-toggle-active .line-top {
  transform: translateY(6px) rotate(45deg);
  transform-origin: center;
}

.nav-toggle-active .line-bottom {
  transform: translateY(-6px) rotate(-45deg);
  transform-origin: center;
}

.nav-toggle-active .line-center {
  opacity: 0;
}

.line+.line {
  margin-top: 4px;
}

.sidebar {
  width: 240px;
  position: relative;
}

.header ul {
  display: block;
  padding: 0px;
  list-style-type: none;
}

.brand {
  display: inline-block;
  padding: 0 40px;
  border-bottom: none;
  position: relative;
  top: -10px;
  opacity: 0;
  color: #EEE;
}

.brand:hover {
  color: #FFF;
}

.sidebar-wrapper {
  color: #555;
  border-radius: initial;
  padding: 10px 10px 0;
  box-sizing: border-box;
  width: 240px;
}

.sidebar-body .sidebar-wrapper {
  width: auto;
}

.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  height: auto;
  background-color: #FFF;
  border: 1px solid #eee;
}

.gemini .post-page {
  padding: 20px 40px;
}

.gemini .article-wrapper {
  padding: 20px;
}

.gemini .post {
  margin-bottom: 20px;
}

.gemini .section {
  width: auto;
}

.gemini .section-box{
  box-sizing: border-box;
  width: calc(100% - 252px);
  min-height: 700px;
}

.gemini .header {
  position: relative;
  margin: 0 auto;
}

.gemini .section-layout-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.gemini .sidebar {
  width: 240px;
  opacity: 0;
}

.gemini .sidebar-box .sidebar-wrapper {
  box-shadow: none;
}

.gemini .header li {
  list-style-type: none;
  line-height: 32px;
}

.gemini .blog-header {
  position: absolute;
  overflow: hidden;
  top: 0;
  padding: 0;
  width: 240px;
  z-index: 9999;
}

.gemini .site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Rosario', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.gemini .site-meta {
  position: relative;
  padding: 20px 0;
  text-align: center;
}

.gemini .subtitle {
  position: relative;
  top: -10px;
  opacity: 0;
  margin: 10px 10px 0;
  font-weight: initial;
  margin-top: 10px;
  font-size: 13px;
  color: #ddd;
}

.gemini .nav-item-active a:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bbb;
  color: rgba(0, 0, 0, 0.98);
}

.gemini .site-author-image {
  max-width: 120px;
}

.gemini .nav-item a {
  display: block;
  font-size: 13px;
  line-height: inherit;
  position: relative;
  box-sizing: border-box;
  line-height: inherit;
  border: none;
  padding: 5px 20px;
  text-align: left;
}

@media (max-width: 961px) {
  .drawer-box {
    display: none;
  }

}

@media (max-width: 767px) {

  .main-continer {
    width: auto !important;
  }

  .section-layout-wrapper {
    width: auto;
  }

  .section-box {
    width: 100% !important;
  }

  .gemini .section {
    margin: 0 !important;
  }

  .nav-toggle {
    display: inline-block;
  }

  .site-nav {
    padding: 0px;
    height: 0px !important;
    margin: 0;
    overflow: hidden;
  }

}

@media (max-width: 991px) and (min-width: 768px) {

  .main-continer {
    width: auto !important;
  }

  .header {
    width: auto !important;
  }
  .blog-header {
    position: relative !important;
    width: auto !important;
  }
  .sidebar {
    display: none !important;
  }

  .section {
    width: auto;
  }

  .articles-wrapper {
    width: auto;
  }

  .section-box {
    width: 100% !important;
  }

  .gemini .section-layout-wrapper {
    width: auto;
    margin: 10px;
  }

  .gemini .post {
    padding: 20px;
  }

  .gemini .brand {
    font-size: 20px;
  }
}

@media (max-width: 767px) {

  .main-continer {
    width: auto;
  }

  .gemini .section-layout-wrapper {
    width: auto;
    margin: 10px;
  }

  .gemini .nav-item-active a:after {
    content: none;
  }

  .gemini .post-page {
    padding: 10px;
  }

  .box-shadow-wrapper {
    padding: 0px;
  }

  .sidebar {
    display: none !important;
  }

  .gemini .blog-header {
    overflow: hidden;
  }
  
  .header {
    width: auto !important;
  }
  .blog-header {
    position: relative !important;
    width: auto !important;
    border-radius: initial !important;
  }

  .nav-toggle {
    display: inline-block;
  }

  .section-layout-wrapper {
    width: auto !important;
  }

  .article-box {
    width: auto;
  }

  .header li {
    list-style-type: none;
    line-height: 32px;
  }

  .nav-item a {
    display: block;
    font-size: 13px;
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    line-height: inherit;
    border: none;
  }
}