.section-box {
  background-color: #fff;
}

.section {
  box-sizing: border-box;
  width: auto;
  min-height: 700px;
  box-shadow: initial;
  border-radius: initial;
  padding: 40px;
  box-sizing: border-box;
}

.posts-expand {
  padding-top: 40px;
}

.site-title a:hover {
  color: #fff;
}

.site-nav {
  margin: 20px 0;
  transition: all 0.3s linear;
}

.nav-item {
  opacity: 0;
}

.nav-item a {
  padding: 5px 10px;
  background: none;
  border: none;
  border-radius: 2px;
  transition-property: background;
}

.nav-item-active {
  background: #f9f9f9;
}

.nav-item:hover {
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.98);
}

.nav-toggle {
  position: absolute;
  left: 20px;
  top: 56px;
  -webkit-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.nav-toggle .line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: rgb(206, 204, 204);
  border-radius: 1px;
  transition: all 0.3s linear;
}

.nav-toggle:hover .line {
  background-color: #fff;
}

.nav-menu-active {
  display: block !important;
  margin: 20px 0;
}

.nav-toggle-active .line-top {
  transform: translateY(6px) rotate(45deg);
  transform-origin: center;
}

.nav-toggle-active .line-bottom {
  transform: translateY(-6px) rotate(-45deg);
  transform-origin: center;
}

.nav-toggle-active .line-center {
  opacity: 0;
}

.line + .line {
  margin-top: 4px;
}

.sidebar {
  width: 240px;
}

.header ul {
  display: block;
  padding: 0px;
  list-style-type: none;
}

.brand {
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  border-bottom: none;
  position: relative;
  top: -10px;
  opacity: 0;
}

.sidebar-wrapper {
  color: #555;
  box-shadow: initial;
  border-radius: initial;
  padding: 20px 10px;
  box-sizing: border-box;
}

.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  height: auto;
  background-color: #fff;
  border: 1px solid #eee;
}

.section-layout.mist {
  padding: 20px 40px;
  box-sizing: border-box;
}

.mist .sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0;
  z-index: 1040;
  box-shadow: inset 0 2px 6px #000;
  background: #222;
  width: 0px;
  overflow: hidden;
}

.mist .sidebar-wrapper {
  width: 320px;
  text-align: center;
}

.mist .sidebar-title {
  width: 320px;
}

.mist .site-author-name {
  margin: 5px 0 0;
  text-align: center;
  color: #555;
  font-weight: normal;
}

.mist .site-description {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: black;
  opacity: 0;
}

.mist .site-author-image {
  max-width: 96px;
  border: 2px solid #333;
  opacity: 0;
}

.mist .section-box {
  background-color: transparent;
}

.mist .sidebar-title-active {
  color: #87daff;
  border-bottom-color: none;
}

.mist .active-current > a {
  color: #87daff;
  border-bottom-color: none;
}

.mist .active-show > a {
  color: #87daff;
  border-bottom-color: none;
}

.mist .sidebar-box {
  background-color: transparent;
}

.mist .sidebar a:hover > span {
  transition: color 0.2s linear;
  color: #eee !important;
}

.mist .sidebar-item-box {
  display: inline-block;
  padding: 0 15px;
}

.mist .right-motion {
  opacity: 0;
}
.mist .sidebar-item-box + .sidebar-item-box {
  border-left: 1px solid #333;
}

.mist .sidebar-title-item:hover {
  color: #87daff;
}

.mist.back-to-top {
  opacity: 1;
  width: 24px;
  background: #222;
}

.drawer-box {
  position: fixed;
  left: 30px;
  bottom: 56px;
  width: 14px;
  height: 14px;
  padding: 5px;
  background: #222;
  line-height: 0;
  z-index: 1050;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}

.drawer-box > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  margin-bottom: 3px;
  background: #fff;
  transition: all 0.3s linear;
}

.drawer-box.right:hover .muse-line:first-child {
  top: 2px;
  transform: rotateZ(-45deg);
  width: 50%;
  opacity: 1;
  left: 0px;
}

.drawer-box.right:hover middle {
  width: 90%;
  opacity: 1;
  left: 0px;
}

.drawer-box.right:hover .muse-line:last-child {
  top: -2px;
  transform: rotateZ(45deg);
  width: 50%;
  opacity: 1;
  left: 0px;
}

.drawer-box.left:hover .muse-line:first-child {
  top: 2px;
  transform: translateX(100%) rotateZ(45deg);
  width: 50%;
  opacity: 1;
}

.drawer-box.left:hover middle {
  width: 90%;
  opacity: 1;
}

.drawer-box.left:hover .muse-line:last-child {
  top: -2px;
  transform: translateX(100%) rotateZ(-45deg);
  width: 50%;
  opacity: 1;
}

.sidebar-open .muse-line-first {
  top: 5px;
  transform: rotateZ(-45deg);
  width: 100%;
  opacity: 1;
  left: 0px;
}

.sidebar-open .muse-line-middle {
  opacity: 0;
  left: 0px;
}

.sidebar-open .muse-line-last {
  top: -5px;
  transform: rotateZ(45deg);
  width: 100%;
  opacity: 1;
  left: 0px;
}

.mist {
  width: 100%;
}

.mist .blog-header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px 12px;
  box-sizing: border-box;
}

.mist .nav-item {
  display: inline-block;
  font-size: 14px;
}

.mist .section-layout-wrapper {
  margin: 0 auto;
  position: relative;
}

.mist .section {
  width: 100%;
  box-shadow: initial;
  border-radius: initial;
  padding: 40px 0;
  box-sizing: border-box;
}

.mist .nav-item i {
  display: inline-block;
}

.mist .main-title {
  font-size: 22px;
  font-weight: bolder;
  padding: 0;
  display: block;
  position: relative;
  border-bottom: none;
  top: -10px;
  opacity: 0;
  background-color: transparent;
}

.mist .site-title i {
  position: relative;
  display: block;
  height: 2px;
}

.logo-line-before i,
.logo-line-after i {
  display: block;
  margin: 0 auto;
}

.mist .logo-line-before,
.mist .logo-line-after {
  overflow: hidden;
  width: 75%;
  display: block;
  margin: 0 auto;
}
.mist .logo-line-before > i {
  left: -100%;
  transition: left 0.2s linear;
}
.mist .logo-line-after > i {
  left: 100%;
  transition: left 0.2s linear;
}

.mist .site-title:hover .logo-line-before > i {
  left: 0;
}

.mist .site-title:hover .logo-line-after > i {
  left: 0;
}

.mist .post {
  margin: 40px 0;
}

.mist .post-button {
  text-align: left;
  padding: 0;
  font-size: 14px;
  background: transparent;
  border-bottom: none;
  display: inline-block;
}

.mist .post-button .btn {
  border: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 0;
  background-color: transparent;
}

.mist .post-button .btn:hover {
  border-color: #222;
  color: #222;
  border-bottom-color: none;
}

.mist .post-footer .post-eof {
  display: block;
  margin: 40px auto 30px;
  width: 0;
}

.mist .post-header .post-title,
.mist .post-header .post-meta {
  text-align: left;
}

.mist .post-header .post-meta {
  margin: 5px 0 20px;
}

.mist .nav-item,
.mist .nav-item-active,
.mist .nav-item-active:hover {
  background: transparent !important;
}

.mist .archive-timeline-box,
.mist .tag-timeline-box {
  margin-left: 0;
}

@media (min-width: 1600px) {
  .post-button a {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
}

@media (max-width: 961px) {
  .drawer-box {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-continer {
    width: auto !important;
  }

  .section-layout-wrapper {
    width: auto;
  }

  .section-box {
    width: 100% !important;
  }

  .section {
    padding: 20px 20px;
  }

  .nav-toggle {
    display: inline-block;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .main-continer {
    width: auto !important;
  }

  .header {
    width: auto !important;
  }
  .blog-header {
    position: relative !important;
    width: auto !important;
  }
  .sidebar {
    display: none !important;
  }

  .section {
    width: auto;
  }

  .articles-wrapper {
    width: auto;
  }

  .section-box {
    width: 100% !important;
  }

  .pisces .section {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .mist .post {
    margin: 0;
  }

  .main-continer {
    width: auto;
  }

  .sidebar {
    display: none !important;
  }

  .header {
    width: auto !important;
  }
  .blog-header {
    position: relative !important;
    width: auto !important;
    border-radius: initial !important;
    display: block !important;
    padding: 0px !important;
  }

  .section-layout.mist {
    padding: 0px;
  }

  .nav-toggle {
    display: inline-block;
  }

  .pisces .blog-header {
    overflow: hidden;
  }

  .section-layout-wrapper {
    width: auto !important;
  }

  .article-box {
    width: auto;
  }

  .mist .section {
    margin: 0px 20px !important;
    width: auto !important;
  }

  .mist .nav-item {
    display: block !important;
  }

  .mist .nav-item i {
    display: inline-block !important;
  }

  .mist .nav-item a {
    text-align: left;
    padding-left: 10px;
  }

  .mist .logo-line-after,
  .mist .logo-line-before {
    display: none;
  }

  .mist .site-meta {
    margin-left: 10px;
    display: inline-block;
  }

  .mist .nav-toggle {
    position: static;
    float: right;
    margin-top: 20px;
  }

  .mist .site-nav {
    height: 0px;
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  .mist .nav-menu-active {
    border-top: 1px solid silver;
  }

  .mist .post-header .post-title,
  .mist .post-header .post-meta {
    text-align: center;
  }

  .header li {
    list-style-type: none;
    line-height: 32px;
  }

  .nav-item a {
    display: block;
    font-size: 13px;
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    line-height: inherit;
    border: none;
  }
}
