.section {
  box-sizing: border-box;
  width: auto;
  min-height: 700px;
  box-shadow: initial;
  border-radius: initial;
  padding: 40px;
  box-sizing: border-box;
}

.posts-expand {
  padding-top: 40px;
}

.site-title a:hover {
  color: #fff;
}

.site-nav {
  padding: 20px 0;
  transition: all .3s linear;
}

.nav-item {
  opacity: 0;
}

.nav-toggle {
  position: absolute;
  left: 20px;
  top: 56px;
  -webkit-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.nav-toggle .line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: rgb(206, 204, 204);
  border-radius: 1px;
  transition: all .3s linear;
}

.nav-toggle:hover .line{
  background-color: #fff;
}

.nav-menu-active {
  display: block !important;
  margin: 20px 0 !important;
}

.nav-toggle-active .line-top {
  transform: translateY(6px) rotate(45deg);
  transform-origin: center;
}

.nav-toggle-active .line-bottom {
  transform: translateY(-6px) rotate(-45deg);
  transform-origin: center;
}

.nav-toggle-active .line-center {
  opacity: 0;
}

.line+.line {
  margin-top: 4px;
}

.sidebar {
  width: 240px;
  position: relative;
}

.header ul {
  display: block;
  padding: 0px;
  list-style-type: none;
}

.brand {
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
  position: relative;
  top: -10px;
  opacity: 0;
}

.sidebar-wrapper {
  color: #555;
  box-shadow: initial;
  border-radius: initial;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 240px;
}

.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  height: auto;
  background-color: #FFF;
  border: 1px solid #eee;
}

.pisces {

}

.pisces .section-box {
  width: calc(100% - 260px);
}

.pisces .nav-item a {
  display: block;
  font-size: 13px;
  line-height: inherit;
  position: relative;
  box-sizing: border-box;
  line-height: inherit;
  border: none;
  padding: 5px 20px;
  text-align: left;
}

.pisces .header {
  position: relative;
  margin: 0 auto;
}

.pisces .header li {
  list-style-type: none;
  line-height: 32px;
}

.pisces .blog-header {
  position: absolute;
  top: 0;
  padding: 0;
  width: 240px;
  z-index: 9999;
  box-shadow: initial;
  overflow: hidden;
}

.pisces .site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Rosario', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.pisces .site-meta {
  position: relative;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

.pisces .subtitle {
  position: relative;
  top: -10px;
  opacity: 0;
  margin: 10px 10px 0;
  font-weight: initial;
  margin-top: 10px;
  font-size: 13px;
  color: #ddd;
}

.pisces .nav-item-active a:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bbb;
  color: rgba(0, 0, 0, 0.98);
}

.pisces .section-layout-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.pisces .sidebar {
  box-shadow: none;
  opacity: 0;
  transition: opacity .2s linear;
  width: 240px;
  position: relative;
}

.pisces .site-author-image {
  max-width: 120px;
}

@media (min-width: 1600px) {
  .post-button a {
    font-size: 16px;
  }
}

@media (min-width: 992px) {

}

@media (max-width: 961px) {
  .drawer-box {
    display: none;
  }
}

@media (max-width: 767px) {

  .main-continer {
    width: auto !important;
  }

  .section-layout-wrapper {
    width: auto;
  }

  .section-box {
    width: 100% !important;
  }

  .section {
    padding: 20px 20px;
  }

  .nav-toggle {
    display: inline-block;
  }

  .site-nav {
    padding: 0px;
    height: 0px !important;
    margin: 0;
    overflow: hidden;
  }

}

@media (max-width: 991px) and (min-width: 768px) {

  .main-continer {
    width: auto !important;
  }

  .header {
    width: auto !important;
  }
  .blog-header {
    position: relative !important;
    width: auto !important;
  }
  .sidebar {
    display: none !important;
  }

  .section {
    width: auto;
  }

  .articles-wrapper {
    width: auto;
  }

  .section-box {
    width: 100% !important;
  }

  .pisces .section {
    padding: 20px;
  }

}

@media (max-width: 767px) {

  .main-continer {
    width: auto;
  }

  .sidebar {
    display: none !important;
  }

  .header {
    width: auto !important;
  }
  .blog-header {
    position: relative !important;
    width: auto !important;
    border-radius: initial !important;
  }

  .nav-toggle {
    display: inline-block;
  }

  .pisces .blog-header {
    overflow: hidden;
  }
  
  .section-layout-wrapper {
    width: auto !important;
  }

  .article-box {
    width: auto;
  }

  .header li {
    list-style-type: none;
    line-height: 32px;
  }

  .nav-item a {
    display: block;
    font-size: 13px;
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    line-height: inherit;
    border: none;
  }
}