
.site-title a:hover {
  color: #fff;
}

.site-nav {
  margin: 20px 0;
  transition: all .3s linear;
}

.nav-item {
  opacity: 0;
}


.nav-item a:hover {
  color: #222;
}


.nav-item-active {
  background: #f9f9f9;
}

.nav-item:hover {
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.98);
}

.nav-toggle {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
  padding: 10px;
}

.nav-toggle .line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: rgb(206, 204, 204);
  border-radius: 1px;
  transition: all .3s linear;
}

.nav-toggle:hover .line{
  background-color: #fff;
}

.nav-menu-active {
  display: block !important;
  margin: 20px 0 !important;
}

.nav-toggle-active .line-top {
  transform: translateY(6px) rotate(45deg);
  transform-origin: center;
}

.nav-toggle-active .line-bottom {
  transform: translateY(-6px) rotate(-45deg);
  transform-origin: center;
}

.nav-toggle-active .line-center {
  opacity: 0;
}

.line+.line {
  margin-top: 4px;
}

@media (max-width: 961px) and (min-width: 768px) {
  .header {
    width: auto;
  }
  .blog-header {
    position: relative;
    width: auto;
  }
  .site-nav {
    height: 0px;
    margin: 0;
  }
  .nav-toggle {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .header {
    width: auto;
  }
  .blog-header {
    position: relative;
    width: auto;
    border-radius: initial;
  }
  .site-nav {
    height: 0px;
    margin: 0;
  }
  .nav-toggle {
    display: inline-block;
  }
}