

.section-box {
  width: auto;
  background: #fff;
}

.section {
  box-sizing: border-box;
  width: 700px;
  min-height: 700px;
  box-shadow: initial;
  border-radius: initial;
  padding: 40px;
  box-sizing: border-box;
}

.posts-expand {
  padding-top: 40px;
}
