* {
  margin: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
}
html {
  height: 100%;
  font-size: 58%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
  word-wrap: break-word;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
}
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 2;
  width: 100%;
  overflow-x: hidden;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
blockquote {
  color: #9a9a9a;
  position: relative;
  padding: 0.4em 0 0 2.2em;
  font-size: 0.96em;
}
blockquote:before {
  position: absolute;
  left: 4px;
  content: "\201c";
  font: 700 40px/1 serif;
  color: rgba(0, 0, 0, 0.1);
}
#canvas {
  left: 0px;
  top: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  z-index: -99999;
  position: fixed;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) and (min-width: 768px) {
  .bg-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .bg-img {
    display: none;
  }
}
.aplayer-title,
.aplayer-list-title {
  color: #000;
}
.head-top-line {
  height: 3px;
  background: #222;
}
.header-box {
  position: relative;
}
.main-container {
  position: relative;
}
.sidebar a {
  border: none;
}
.sidebar-box {
  color: #555;
  background: #fff;
  box-shadow: initial;
  border-radius: initial;
  padding: 20px 0px;
  box-sizing: border-box;
}
.sidebar-item > div {
  flex: 1;
  text-align: center;
}
.sidebar-item-box + .sidebar-item-box {
  border-left: 1px solid #efefef;
}
.side-item-stat {
  display: flex;
  justify-content: space-around;
}
.side-item-stat .site-item-stat-count {
  display: block;
  text-align: center;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}
.site-item-rss {
  display: block;
  color: #fc6423;
  border: none;
  font-size: 16px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
  margin-top: 20px;
}
.site-item-rss a {
  color: #fc6423;
}
.site-item-rss a:hover {
  color: #e34603 !important;
}
.site-author-name {
  margin: 0;
  text-align: center;
  color: #222;
  font-weight: 600;
}
.site-description {
  margin-top: 0;
  text-align: center;
  font-size: 13px;
  color: #999;
  margin: 0 0 25px 0;
}
.sidebar-item-social {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
}
.sidebar-item-social > .social-item {
  position: relative;
  text-align: left;
}
.social-item > a {
  text-align: left;
  padding: 0 px;
  transition: all 0.2s linear;
  display: inline-block;
  width: 90px;
  white-space: nowrap;
  font-size: 13px;
  padding-left: 15px;
}
.social-img > img {
  display: none;
  position: absolute;
  margin-left: -10px;
  width: 240px;
  left: 0;
  margin-top: 30px;
}
.social-img:hover > img {
  display: block;
}
.social-item .iconfont {
  margin-right: 2px;
  font-size: 16px !important;
}
.social-item a:hover {
  border-radius: 4px;
  background: #eee;
}
.icon-douban {
  font-style: normal;
  padding: 0px 6px;
  background: #555555;
  font-weight: bold;
  color: #FFF;
  border-radius: 2px;
  transform: scale(0.5);
  transform-origin: left;
  display: inline-block;
}
.douban-span {
  margin-left: -12px;
}
.friends-title {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}
.friends-box a {
  max-width: 280px;
  display: block;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.2s linear;
}
.bg-img {
  left: 0px;
  top: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  z-index: -999999;
  position: fixed;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}
.bg-img img {
  width: 100%;
  height: 100%;
}
.footer-box {
  position: relative;
  margin-top: 80px;
}
.footer {
  margin-top: 100px;
  min-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #999;
  margin: 20px;
}
.footer a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #999;
  word-wrap: break-word;
}
.poweredby div {
  display: inline-block;
}
.power-left::after {
  content: "|";
  padding-left: 10px;
}
.split {
  width: 2px;
  height: 100%;
  background-color: #999;
}
.back-to-top {
  box-sizing: border-box;
  position: fixed;
  right: 30px;
  z-index: 1050;
  padding: 0 6px;
  width: initial;
  background: #222;
  font-size: 12px;
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateZ(0);
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  bottom: -40px;
}
.back-top-active {
  bottom: 30px;
}
@media (max-width: 767px) {
  .back-to-top {
    right: 10px;
  }
  .back-top-active {
    bottom: 10px;
  }
}
.page {
  border-top: 1px solid #eee;
  background-color: #fff;
}
.page a {
  border: none;
}
.pagination-ul {
  text-align: center;
  border-top: none;
  padding: 0;
  display: block;
  list-style-type: disc;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: -1px;
}
.pagination-ul li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.pagination-ul a {
  width: 32px;
  font-size: 16px;
  padding: 1px 0;
  display: inline-block;
  border-top: 1px solid transparent;
}
.pagination-active a {
  color: #fff;
  background: #ccc;
  border-top-color: #ccc;
}
.pagination-ul a:hover {
  border-top: 1px solid #222;
}
.pagination-dir a {
  width: 32px;
  display: inline-block;
  border-top: 1px solid transparent;
}
.post-body img {
  display: block;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.post-body {
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  overflow-x: hidden;
}
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  padding-top: 10px;
}
@media (min-width: 992px) {
  .post-body {
    text-align: justify;
  }
}
.post-button {
  margin-top: 50px;
}
.text-center {
  text-align: center;
}
.post-button .btn {
  color: #555;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
  line-height: 2;
  margin: 0 4px 8px 4px;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  background: #222;
  border: 2px solid #555 !important;
  text-decoration: none;
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.btn:hover,
.post-button .btn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}
.post-footer .post-eof {
  display: block;
  margin: 80px auto 60px;
  width: 8%;
  height: 1px;
  background: #ccc;
  text-align: center;
}
.full-image {
  border: none;
  max-width: 100%;
  width: auto;
  margin: 20px auto;
}
.fancybox {
  border: none !important;
}
.post-body .image-caption,
.post-body .figure .caption {
  margin: 10px auto 15px;
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  line-height: 1;
}
@media (min-width: 992px) {
  .post-body {
    text-align: justify;
  }
}
@media (max-width: 767px) {
  .post-title {
    font-size: 22px !important;
  }
  .pc-show {
    display: none;
  }
}
@media (min-width: 992px) {
  .full-image {
    max-width: none;
    width: 118%;
    margin: 0 -9%;
  }
}
.post-header .post-title {
  font-size: 26px;
  text-align: center;
  word-break: break-word;
  font-weight: 400;
}
.post-title-link {
  display: inline-block;
  position: relative;
  color: inherit;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.post-title-link:hover {
  color: inherit;
}
.post-title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.post-meta {
  margin: 3px 0 60px 0;
  color: #999;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 12px;
  text-align: center;
}
.post-meta-divider {
  margin: 0 0.5em;
}
@media (max-width: 767px) {
  .post-meta {
    margin: 3px 0 20px 0;
  }
}
.post {
  opacity: 0;
}
.post-copyright {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}
.post-copyright li,
.post-copyright a {
  color: #222;
}
.post-copyright a:hover {
  color: #000;
}
.post-footer .tags a {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #999;
  word-wrap: break-word;
}
.post-footer .tags a:hover {
  color: #222;
  border-bottom-color: #222;
}
.post-footer .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #eee;
}
.post-footer .tags {
  margin-top: 40px;
  text-align: center;
}
.post-footer .nav-next,
.post-footer .nav-prev {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
  vertical-align: top;
}
.post-footer .nav-next {
  text-align: right;
}
.post-footer .nav-prev {
  text-align: left;
}
.post-footer .nav .iconfont {
  font-size: 16px !important;
  font-weight: bold;
  color: black;
}
.nav-mobile-next,
.nav-mobile-prev {
  display: none;
}
.nav-pc-next,
.nav-pc-prev {
  display: inline-block;
  max-width: 280px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nav i {
  padding: 0 5px;
}
@media (max-width: 767px) {
  .nav-pc-next,
  .nav-pc-prev {
    display: none;
  }
  .nav-mobile-next,
  .nav-mobile-prev {
    display: inline-block;
  }
  .post-footer .post-eof {
    margin: 40px auto 30px;
  }
}
.sidebar-fixed {
  position: fixed;
  top: 0px;
  width: 240px;
}
.post-list-sidebar {
  position: relative;
  margin: 0 0 20px;
}
.sidebar-title {
  display: flex;
  justify-content: center;
}
.sidebar-title-item {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
  padding: 0 5px;
  margin-right: 10px;
}
.sidebar-title-item:hover {
  color: #fc6423;
}
.sidebar-title-active {
  color: #fc6423;
  border-bottom-color: #fc6423;
}
.post-toc,
.post-side-meta {
  display: none;
  opacity: 0;
}
.sidebar-box .sidebar-body-active {
  display: block;
}
.post-sidebar-body {
  position: relative;
}
.sidebar-inner {
  background-color: #FFF;
}
.cloud-tag {
  opacity: 0;
}
.tag-cloud-title {
  text-align: center;
  font-size: 16px;
  padding-top: 40px;
}
.tag-cloud-list {
  text-align: center;
}
.tag-cloud-list a {
  display: inline-block;
  margin: 10px;
}
.tag-cloud-list a:hover {
  border-bottom: 1px solid #222;
}
.tag-timeline-wrapper .tag-timeline-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
  z-index: 9999;
}
.tag-timeline-wrapper::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
}
.tag-timeline-box {
  position: relative;
  z-index: 1111;
  margin-left: 55px;
}
.tag-timeline-title {
  position: relative;
  padding: 30px 0;
}
.tag-timeline-box .tag-post-node {
  position: relative;
  margin: 30px 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}
.tag-timeline-box .tag-post-node:hover {
  border-bottom-color: #666;
}
.tag-post-node {
  opacity: 0;
}
.tag-timeline-wrapper .tag-post-node::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 1000;
}
.tag-timeline-wrapper .tag-post-node:hover::before {
  background: #666;
}
.tag-timeline-title small {
  color: #bbb;
  font-size: 80%;
}
.tag-timeline-box h2 {
  font-size: 20px;
  margin: 0 20px;
}
.tag-timeline-box h1 {
  font-size: 12px;
  font-weight: normal;
  line-height: inherit;
  margin: 0 20px;
}
.tag-timeline-box h1 > small {
  font-size: 16px;
}
@media (max-width: 767px) {
  .tag-timeline-box {
    margin-left: 0px;
  }
  .tag-timeline-wrapper .tag-post-node::before {
    content: none;
  }
  .tag-timeline-wrapper .tag-timeline-title::before {
    content: none;
  }
  .tag-timeline-wrapper::after {
    content: none;
  }
  .tag-timeline-title {
    padding: 20px;
  }
}
.archive-wrapper {
  background-color: #FFF;
}
.archive-timeline-box {
  margin-left: 55px;
  padding-top: 40px;
  position: relative;
}
.archive-timeline-box::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
}
.archive-timeline-title {
  position: relative;
}
.archive-timeline-title::before {
  position: absolute;
  content: " ";
  top: 8px;
  left: 0;
  margin-left: -6px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: #555;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 9999;
}
.archive-timeline-title h2 {
  font-size: 14px;
  line-height: 2;
  margin-top: 0px;
  margin-left: 20px;
  font-weight: normal;
}
.node-title {
  position: relative;
}
.node-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 9999;
}
.node-title h2 {
  font-size: 20px;
  line-height: 2;
  margin-top: 0px;
  margin-left: 20px;
}
.archive-timeline-box .tag-node {
  margin: 30px 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}
.motion-warpper {
  position: relative;
  z-index: 1000;
}
.tag-year {
  opacity: 0;
}
.tag-archive-node {
  opacity: 0;
}
.archive-timeline-box .tag-node::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: #bbb;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
  z-index: 1000;
}
.archive-timeline-box h1 {
  font-size: 12px;
  font-weight: normal;
  line-height: inherit;
  margin: 0 20px;
  color: inherit;
}
.archive-timeline-box h1 > small {
  font-size: 16px;
}
.archive-timeline-box .tag-node:hover {
  border-bottom-color: inherit;
}
@media (max-width: 767px) {
  .archive-timeline-box {
    margin-left: 0px;
  }
  .archive-timeline-box::after {
    content: none;
  }
  .archive-timeline-title::before {
    content: none;
  }
  .node-title::before {
    content: none;
  }
  .archive-timeline-box .tag-node::before {
    content: none;
  }
  .archive-timeline-box h1 {
    max-width: 760px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.markdownIt-TOC ul {
  display: none;
}
.expanded ul {
  padding: 0 2px 5px 10px;
  display: block;
}
.closed ul {
  padding: 0 2px 5px 10px;
  display: none;
}
.toc-wrapper a {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  border-bottom: 1px solid #ccc;
}
.toc-active {
  opacity: 1;
}
.markdownIt-TOC {
  margin: 0;
  padding: 0 2px 5px 20px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.markdownIt-TOC .active-show > ul {
  display: block;
}
.toc-wrapper .active-hidden > ul {
  display: block;
}
.markdownIt-TOC li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.8;
}
@media (max-width: 961px) and (min-width: 768px) {
  .toc-box {
    display: none;
  }
}
@media (max-width: 767px) {
  .toc-box {
    display: none;
  }
}
.next-md-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}
.next-md-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}
.next-md-body .anchor:focus {
  outline: none;
}
.next-md-body h1 .octicon-link,
.next-md-body h2 .octicon-link,
.next-md-body h3 .octicon-link,
.next-md-body h4 .octicon-link,
.next-md-body h5 .octicon-link,
.next-md-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}
.next-md-body h1:hover .anchor,
.next-md-body h2:hover .anchor,
.next-md-body h3:hover .anchor,
.next-md-body h4:hover .anchor,
.next-md-body h5:hover .anchor,
.next-md-body h6:hover .anchor {
  text-decoration: none;
}
.next-md-body h1:hover .anchor .octicon-link,
.next-md-body h2:hover .anchor .octicon-link,
.next-md-body h3:hover .anchor .octicon-link,
.next-md-body h4:hover .anchor .octicon-link,
.next-md-body h5:hover .anchor .octicon-link,
.next-md-body h6:hover .anchor .octicon-link {
  visibility: visible;
}
.next-md-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 15px;
  word-wrap: break-word;
}
.next-md-body .pl-c {
  color: #6a737d;
}
.next-md-body .pl-c1,
.next-md-body .pl-s .pl-v {
  color: #005cc5;
}
.next-md-body .pl-e,
.next-md-body .pl-en {
  color: #6f42c1;
}
.next-md-body .pl-s .pl-s1,
.next-md-body .pl-smi {
  color: #24292e;
}
.next-md-body .pl-ent {
  color: #22863a;
}
.next-md-body .pl-k {
  color: #d73a49;
}
.next-md-body .pl-pds,
.next-md-body .pl-s,
.next-md-body .pl-s .pl-pse .pl-s1,
.next-md-body .pl-sr,
.next-md-body .pl-sr .pl-cce,
.next-md-body .pl-sr .pl-sra,
.next-md-body .pl-sr .pl-sre {
  color: #032f62;
}
.next-md-body .pl-smw,
.next-md-body .pl-v {
  color: #e36209;
}
.next-md-body .pl-bu {
  color: #b31d28;
}
.next-md-body .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}
.next-md-body .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}
.next-md-body .pl-c2:before {
  content: "^M";
}
.next-md-body .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}
.next-md-body .pl-ml {
  color: #735c0f;
}
.next-md-body .pl-mh,
.next-md-body .pl-mh .pl-en,
.next-md-body .pl-ms {
  color: #005cc5;
  font-weight: 700;
}
.next-md-body .pl-mi {
  color: #24292e;
  font-style: italic;
}
.next-md-body .pl-mb {
  color: #24292e;
  font-weight: 700;
}
.next-md-body .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}
.next-md-body .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}
.next-md-body .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}
.next-md-body .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}
.next-md-body .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}
.next-md-body .pl-ba {
  color: #586069;
}
.next-md-body .pl-sg {
  color: #959da5;
}
.next-md-body .pl-corl {
  color: #032f62;
  text-decoration: underline;
}
.next-md-body details {
  display: block;
}
.next-md-body summary {
  display: list-item;
}
.next-md-body strong {
  font-weight: inherit;
  font-weight: bolder;
}
.next-md-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.next-md-body img {
  border-style: none;
}
.next-md-body code,
.next-md-body kbd,
.next-md-body pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
.next-md-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.next-md-body input {
  font: inherit;
  margin: 0;
}
.next-md-body input {
  overflow: visible;
}
.next-md-body [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
.next-md-body * {
  box-sizing: border-box;
}
.next-md-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.next-md-body strong {
  font-weight: 600;
}
.next-md-body hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}
.next-md-body hr:before {
  content: "";
  display: table;
}
.next-md-body hr:after {
  clear: both;
  content: "";
  display: table;
}
.next-md-body table {
  border-collapse: collapse;
  border-spacing: 0;
}
.next-md-body td,
.next-md-body th {
  padding: 0;
}
.next-md-body details summary {
  cursor: pointer;
}
.next-md-body h1,
.next-md-body h2,
.next-md-body h3,
.next-md-body h4,
.next-md-body h5,
.next-md-body h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.next-md-body h1 {
  font-size: 32px;
}
.next-md-body h1,
.next-md-body h2 {
  font-weight: 600;
}
.next-md-body h2 {
  font-size: 24px;
}
.next-md-body h3 {
  font-size: 20px;
}
.next-md-body h3,
.next-md-body h4 {
  font-weight: 600;
}
.next-md-body h4 {
  font-size: 16px;
}
.next-md-body h5 {
  font-size: 14px;
}
.next-md-body h5,
.next-md-body h6 {
  font-weight: 600;
}
.next-md-body h6 {
  font-size: 12px;
}
.next-md-body p {
  margin-bottom: 10px;
  margin-top: 0;
}
.next-md-body blockquote {
  margin: 0;
}
.next-md-body ol,
.next-md-body ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.next-md-body ol ol,
.next-md-body ul ol {
  list-style-type: lower-roman;
}
.next-md-body ol ol ol,
.next-md-body ol ul ol,
.next-md-body ul ol ol,
.next-md-body ul ul ol {
  list-style-type: lower-alpha;
}
.next-md-body dd {
  margin-left: 0;
}
.next-md-body code,
.next-md-body pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
}
.next-md-body pre {
  margin-bottom: 0;
  margin-top: 0;
}
.next-md-body input::-webkit-inner-spin-button,
.next-md-body input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.next-md-body .border {
  border: 1px solid #e1e4e8 !important;
}
.next-md-body .border-0 {
  border: 0!important;
}
.next-md-body .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}
.next-md-body .rounded-1 {
  border-radius: 3px!important;
}
.next-md-body .bg-white {
  background-color: #fff !important;
}
.next-md-body .bg-gray-light {
  background-color: #fafbfc !important;
}
.next-md-body .text-gray-light {
  color: #6a737d !important;
}
.next-md-body .mb-0 {
  margin-bottom: 0!important;
}
.next-md-body .my-2 {
  margin-bottom: 8px!important;
  margin-top: 8px!important;
}
.next-md-body .pl-0 {
  padding-left: 0!important;
}
.next-md-body .py-0 {
  padding-bottom: 0!important;
  padding-top: 0!important;
}
.next-md-body .pl-1 {
  padding-left: 4px!important;
}
.next-md-body .pl-2 {
  padding-left: 8px!important;
}
.next-md-body .py-2 {
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}
.next-md-body .pl-3,
.next-md-body .px-3 {
  padding-left: 16px!important;
}
.next-md-body .px-3 {
  padding-right: 16px!important;
}
.next-md-body .pl-4 {
  padding-left: 24px!important;
}
.next-md-body .pl-5 {
  padding-left: 32px!important;
}
.next-md-body .pl-6 {
  padding-left: 40px!important;
}
.next-md-body .f6 {
  font-size: 12px!important;
}
.next-md-body .lh-condensed {
  line-height: 1.25 !important;
}
.next-md-body .text-bold {
  font-weight: 600!important;
}
.next-md-body:before {
  content: "";
  display: table;
}
.next-md-body:after {
  clear: both;
  content: "";
  display: table;
}
.next-md-body > :first-child {
  margin-top: 0!important;
}
.next-md-body > :last-child {
  margin-bottom: 0!important;
}
.next-md-body blockquote,
.next-md-body dl,
.next-md-body ol,
.next-md-body p,
.next-md-body pre,
.next-md-body table,
.next-md-body ul {
  margin-bottom: 16px;
  margin-top: 0;
}
.next-md-body table {
  font-size: 15px;
}
.next-md-body th {
  text-align: left;
}
.next-md-body td {
  vertical-align: middle;
}
.next-md-body hr {
  background-color: #e1e4e8;
  border: 0;
  height: 0.25em;
  margin: 24px 0;
  padding: 0;
}
.next-md-body blockquote > :first-child {
  margin-top: 0;
}
.next-md-body blockquote > :last-child {
  margin-bottom: 0;
}
.next-md-body kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}
.next-md-body h1,
.next-md-body h2,
.next-md-body h3,
.next-md-body h4,
.next-md-body h5,
.next-md-body h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}
.next-md-body h1 {
  font-size: 2em;
}
.next-md-body h1,
.next-md-body h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}
.next-md-body h2 {
  font-size: 1.5em;
}
.next-md-body h3 {
  font-size: 1.25em;
}
.next-md-body h4 {
  font-size: 1em;
}
.next-md-body h5 {
  font-size: 0.875em;
}
.next-md-body h6 {
  color: #6a737d;
  font-size: 0.85em;
}
.next-md-body ol,
.next-md-body ul {
  padding-left: 2em;
}
.next-md-body ol ol,
.next-md-body ol ul,
.next-md-body ul ol,
.next-md-body ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.next-md-body li {
  word-wrap: break-all;
}
.next-md-body li > p {
  margin-top: 16px;
}
.next-md-body li + li {
  margin-top: 0.25em;
}
.next-md-body dl {
  padding: 0;
}
.next-md-body dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}
.next-md-body dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}
.next-md-body table {
  display: block;
  overflow: auto;
  width: 100%;
}
.next-md-body table th {
  font-weight: 600;
}
.next-md-body table td,
.next-md-body table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}
.next-md-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.next-md-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.next-md-body img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}
.next-md-body img[align=right] {
  padding-left: 20px;
}
.next-md-body img[align=left] {
  padding-right: 20px;
}
.next-md-body code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}
.next-md-body pre {
  word-wrap: normal;
}
.next-md-body pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}
.next-md-body .highlight {
  margin-bottom: 16px;
}
.next-md-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.next-md-body .highlight pre,
.next-md-body pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}
.next-md-body pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}
.next-md-body .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 90%;
}
.next-md-body .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}
.next-md-body .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}
.next-md-body .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27, 31, 35, 0.3);
  cursor: pointer;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}
.next-md-body .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}
.next-md-body .blob-num:before {
  content: attr(data-line-number);
}
.next-md-body .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}
.next-md-body .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}
.next-md-body .pl-token.active,
.next-md-body .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}
.next-md-body kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}
.next-md-body :checked + .radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}
.next-md-body .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}
.next-md-body .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}
.next-md-body .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}
.next-md-body .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}
.next-md-body .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}
.next-md-body .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}
.next-md-body .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}
.next-md-body .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}
.next-md-body .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}
.next-md-body .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}
.next-md-body .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}
.next-md-body .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}
.next-md-body .task-list-item {
  list-style-type: none;
}
.next-md-body .task-list-item + .task-list-item {
  margin-top: 3px;
}
.next-md-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
.next-md-body hr {
  border-bottom-color: #eee;
}
.next-md-body .pl-0 {
  padding-left: 0!important;
}
.next-md-body .pl-1 {
  padding-left: 4px!important;
}
.next-md-body .pl-2 {
  padding-left: 8px!important;
}
.next-md-body .pl-3 {
  padding-left: 16px!important;
}
.next-md-body .pl-4 {
  padding-left: 24px!important;
}
.next-md-body .pl-5 {
  padding-left: 32px!important;
}
.next-md-body .pl-6 {
  padding-left: 40px!important;
}
.next-md-body .pl-7 {
  padding-left: 48px!important;
}
.next-md-body .pl-8 {
  padding-left: 64px!important;
}
.next-md-body .pl-9 {
  padding-left: 80px!important;
}
.next-md-body .pl-10 {
  padding-left: 96px!important;
}
.next-md-body .pl-11 {
  padding-left: 112px!important;
}
.next-md-body .pl-12 {
  padding-left: 128px!important;
}
.next-md-body a {
  text-decoration: none;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .next-md-body h1 {
    font-size: 18px;
  }
  .next-md-body h2 {
    font-size: 16px;
  }
  .next-md-body h3 {
    font-size: 14px;
  }
  .next-md-body h4 {
    font-size: 12px;
  }
  .next-md-body h5 {
    font-size: 12px;
  }
  .next-md-body h6 {
    font-size: 12px;
  }
  .next-md-body ol,
  .next-md-body ul {
    padding-left: 1.5em;
  }
  .katex-display > .katex {
    white-space: normal !important;
  }
  .katex {
    font-size: 12px;
  }
  .katex .base {
    margin-bottom: 10px;
  }
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f9f7f3;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
